name: develop

on:
  pull_request:
  push:

jobs:
  develop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Test
        run: |
          python -m pip install --editable .
          python test/test_examples.py
          python test/test_spec.py
